/* Import via CSS */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

:root {
    --purple: #8731b6;
    --white: #fff;
    --shadow: rgba(161, 66, 220, 0.603);
}

@font-face {
    src: url(Poppins/Poppins-SemiBold.ttf);
    font-family: poppins;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

.container {
    width: 100%;
    height: 100vh;
    background: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.music-player {
    background: #eaac6a;
    width: 400px;
    padding: 25px 35px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

nav .circle {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 33px;
    background: var(--purple);
    color: var(--white);
    font-size: 22px;
    box-shadow: 0 5px 10px var(--shadow);
}

.img-sara {
    width: 220px;
    border-radius: 300px;
    border: 10px dotted var(--white);

    box-shadow: 0 4px 8px 1px var(--shadow);

}

.music-player h1 {
    font-size: 24px;
    font-weight: 800;
    color: #333;
    margin-top: 20px;
}

.music-player {
    font-size: 16px;
    color: #333;
}

#progress {
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    background: var(--purple);
    border-radius: 4px;
    cursor: pointer;
    margin: 40px 0;
}

#progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: var(--purple);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 8px solid var(--white);
    box-shadow: 0 3px 8px var(--shadow);
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls div {
    width: 60px;
    height: 60px;
    margin: 20px;
    background: var(--white);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--purple);
    box-shadow: 0 4px 16px var(--shadow);
    cursor: pointer;
}

.controls div:nth-child(2) {
    transform: scale(1.5);
    background: var(--purple);
    color: var(--white);
}