/* Import via CSS */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

:root {
    --purple: #3747f6;
    --white: #fff;
    --shadow:box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px; ;
}

@font-face {
    src: url(Poppins/Poppins-SemiBold.ttf);
    font-family: poppins;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

.container {
    width: 100%;
    height: 100vh;
    background: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.music-player {
    border-radius: 2rem;
    background: #6f61ff;
    width: 400px;
    padding: 25px 35px;
    text-align: center;
}

nav {
    
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

nav .circle {
    border-radius: 50%;
    box-shadow: rgb(0, 0, 0) 0px 1px 4px, rgb(0, 0, 0) 0px 0px 0px 3px;
    width: 40px;
    height: 40px;
    line-height: 33px;
    background: var(--purple);
    color: var(--white);
    font-size: 22px;
}

.img-sara {
    width: 220px;
    border-radius: 300px;
    border: 10px dashed var(--white);
    box-shadow: rgb(0, 0, 0) 0px 1px 4px, rgb(0, 0, 0) 0px 0px 0px 3px;

}

.music-player h1 {
    font-size: 24px;
    font-weight: 800;
    color: #f3f2f2;
    margin-top: 20px;
    
}

.music-player {
    font-size: 16px;
    color: #f3f2f2;
}

#progress {
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    background: var(--purple);
    border-radius: 4px;
    cursor: pointer;
    margin: 40px 0;
}

#progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: var(--purple);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 8px solid var(--white);
    box-shadow: 0 3px 8px var(--shadow);
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls div {
    width: 60px;
    height: 60px;
    margin: 20px;
    background: var(--white);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--purple);
    box-shadow: rgb(0, 0, 0) 0px 1px 4px, rgb(0, 0, 0) 0px 0px 0px 3px;
    cursor: pointer;
}

.controls div:nth-child(2) {
    transform: scale(1.5);
    background: var(--purple);
    color: var(--white);
}